@import '../../theme/colors.scss';
@import '../../theme/spacing.scss';

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    padding: $lg;
  }
}
