@import '../../theme/colors.scss';
@import '../../theme/spacing.scss';

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black;
  gap: $sm;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
